# Gradle
.gradle/
build/
bin/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.class
.classpath
.project
.factorypath
.settings/
.eclipse/

# OS
.DS_Store
Thumbs.db

# Minecraft
run/
out/
eclipse/

# Qodana
qodana-report/

# Misc
*.log
*.tmp
